.lightsout {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.lo-content {
    width: 700px;
    display: flex;
}

.lo-game {
    width: 330px;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.lo-game.lvl1 {
    gap: 15px
}

.lo-game.lvl2 {
    gap: 10px
}

.lo-game-node-lvl0 {
    width: calc(33% - 16px);
    height: calc(33% - 16px);
    background-color: var(--terBg);
    border-radius: 11px;
    cursor: pointer;
}

.lo-game-node-lvl1 {
    width: calc(20% - 12px);
    height: calc(20% - 12px);
    background-color: var(--terBg);
    border-radius: 11px;
    cursor: pointer;
}

.lo-game-node-lvl2 {
    width: calc(13.9% - 8px);
    height: calc(13.9% - 8px);
    background-color: var(--terBg);
    border-radius: 11px;
    cursor: pointer;
}

.lo-game-node-lvl0.active,
.lo-game-node-lvl1.active,
.lo-game-node-lvl2.active {
    background-color: var(--secBg);
}

.lo-description {
    width: 330px;
    margin-left: 40px;
}

.lo-description .f14:nth-child(1) {
    color: var(--secBg);
    font-family: 'Josefin Medium';
}

.lo-description-container .f14 {
    color: var(--priText) !important;
}

.lo-description .f32 {
    margin-bottom: 30px;
}

.lo-description-container {
    margin-bottom: 20px;
}

.lo-description-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lo-description-links p {
    cursor: pointer;
    margin-top: 10px;
}

.lo-description-links p:hover {
    color: var(--secBg);
}

.lo-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.lo-btn {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--terBg);
    padding: 10px 20px 5px 20px;
    border-radius: 5px;
    box-shadow: 0 10px 0 0 rgba(0,0,0,.6);
    cursor: pointer;
}

.lo-btn:active {
    transform: translateY(10px);
    box-shadow: inset 0 5px 0 0 rgba(0,0,0,.20);
}


.lo-btn p {
    line-height: 150%;
}
.lo-btn img {
    width: 20px;
    height: 30px;
}
